.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  perspective: 1000px; /* Added perspective to the parent */
  background: transparent;
}

.galleryContainer {
  position: relative;
  width: 220px;
  height: 150px;
  transform-style: preserve-3d;
  transition: 1.5s;
}

.galleryBox {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1.5s;
}

.galleryBox span {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px);
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #0004);
  border-radius: 1rem;
  overflow: hidden;
}

.galleryBox span img,
.galleryBox span video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
