@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ~~~~~~~~~~~~~~~~~~  RESET CSS  ~~~~~~~~~~~~~~~~~~~~~ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ~~~~~~~~~~~~~~~~~~  ROOT COLORS  ~~~~~~~~~~~~~~~~~~~~~ */
:root {
  --primary-color: #fff;
  --secondary-color: #f96613;
  --btn-glass: rgba(255, 255, 255, 0.1);
}

/* ~~~~~~~~~~~~~~~~~~  HTML & BODY  ~~~~~~~~~~~~~~~~~~~~~ */
html {
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~  SCROLLBAR STYLING  ~~~~~~~~~~~~~~~~~~~~~ */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to bottom,
    #ff5f00,
    #fa6b00,
    #f57600,
    #f07f07,
    #eb8812
  );
  border-radius: 10px;
}

/* ~~~~~~~~~~~~~~~~~~~  SOUND  ~~~~~~~~~~~~~~~~~~~~~  */
.sound {
  position: absolute;
  bottom: 2%;
  right: 2%;
  width: auto;
  height: 10rem;
  z-index: 999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.sound div {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #f96613;
}

.sound h4 {
  font-size: 1.3rem;
  color: #fff;
}

.sound div img {
  height: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~  BACKGROUND VIDEO  ~~~~~~~~~~~~~~~~~~~~~  */

.bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.bgVideo video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ~~~~~~~~~~~~~~~~~~~  LANDING PAGE  ~~~~~~~~~~~~~~~~~~~~~  */
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Adjust duration as needed */
}

.loaded .fade-in {
  opacity: 1;
}

.ctaBtn {
  box-shadow: 0px 0px 30px var(--secondary-color);
}

/* ~~~~~~~~~~~~~~~~~~~  NEXT PAGE  ~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~  NEXT PAGE - { 3d }  ~~~~~~~~~~~~~~~~~~~~~ */
.down {
  font-family: "Poppins", sans-serif;
  box-shadow: 0 0 10px #eb8812;
  z-index: 2;
  overflow: hidden;
  color: #fff;
  transition: all 0.6s;
  font-weight: 500;
}

.down:hover {
  color: #000;
  font-weight: 500;
}

.down::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: -10%;
  left: -160%;
  border-radius: 5rem;
  z-index: -1;
  transition: all 0.8s;
}
.down:hover::before {
  width: 150%;
  height: 150%;
  top: -20%;
  left: -25%;
}

/* ~~~~~~~~~~~~~~~~~~~  NEXT PAGE - { DEPARTMENT CARDS }  ~~~~~~~~~~~~~~~~~~~~~ */
/* 
    -- teams.css
*/

/* ~~~~~~~~~~~~~~~~~~~  NEXT PAGE - { DEPARTMENT CARDS }  ~~~~~~~~~~~~~~~~~~~~~ */
/* 
 -- gallery.css
*/

/* ~~~~~~~~~~~~~~~~~~~  NEXT PAGE - { TESTIMONIAL CARDS }  ~~~~~~~~~~~~~~~~~~~~~ */
/* 
-- testi.css
*/

/* ~~~~~~~~~~~~~~~~~~~  NEXT PAGE - { DISCORD }  ~~~~~~~~~~~~~~~~~~~~~ */

.discord {
  font-family: "Poppins", sans-serif;
}
.dsText1 {
  background: rgb(8, 8, 8);
  background: linear-gradient(
    180deg,
    rgba(8, 8, 8, 1) 0%,
    rgba(52, 52, 52, 1) 74%,
    rgba(66, 66, 66, 1) 91%,
    rgba(94, 94, 94, 1) 100%
  );
}

.dsText2 {
  line-height: 1.5;
}

.dsBtn {
  position: relative;
  z-index: 2;
  overflow: hidden;
  transition: ease-in-out 0.6s;
}

.dsBtn:hover {
  color: #000;
}

.dsBtn::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: -10%;
  left: -160%;
  border-radius: 5rem;
  z-index: -1;
  transition: all 0.8s;
}
.dsBtn:hover::before {
  width: 150%;
  height: 150%;
  top: -20%;
  left: -25%;
}

.wrapperMemberMove {
  animation: discordMove infinite linear 80s;
}

@keyframes discordMove {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(-80%);
  }
}

.outerDiscordMemberMove {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.outerDiscordMemberMove div img {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  border: 1px solid #f96613;
  margin: 1rem 0;
}

#dsRedBorder {
  border: 1px solid red;
}

.dsShift {
  transform: translateY(-10%);
}

.mainDiscordContainer {
  position: relative;
}

.dsOverlay {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}

.dsBlackShadow {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-height: 100px;
  border-radius: 764px;
  background: rgba(0, 0, 0, 0.889);
  filter: blur(50px);
  z-index: 3;
}

#dsBlackShadow1 {
  top: -20%;
}

#dsBlackShadow2 {
  bottom: -30%;
}
