<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apex - Animator Professionalism Editor Xcellence</title>
    <link rel="icon" href="../images/title_Logo.png" />
    <meta
      name="description"
      content="APEX is the esteemed design society of TIPS, Dwarka, dedicated to elevating the field of design to new heights. With a large and active membership, we have conducted numerous workshops to enhance our skills. Our members utilize a variety of Adobe design software, including Photoshop, Illustrator, and InDesign, to create innovative and impactful designs."
    />
    <meta name="keywords" content="APEX, designing, designers, editing, apex" />
    <script
      src="https://kit.fontawesome.com/e64b4eb724.js"
      crossorigin="anonymous"
    ></script>
    <link href="../css/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/galleryExplore.css" />
  </head>

  <body>
    <!-- /* ~~~~~~~~~~~~~~~~~~~ BACKGROUND VIDEO ~~~~~~~~~~~~~~~~~~~~~ */ -->
    <div class="bgVideo">
      <video autoplay muted loop>
        <source src="../images/bgVid.webm" type="video/mp4" />
      </video>
    </div>

    <div class="wrapper">
      <!-- /* ~~~~~~~~~~~~~~~~~~~  FILTER ITEMS  ~~~~~~~~~~~~~~~~~~~~~ */ -->
      <div class="galleryHead">
        <h1>APEX GALLERY</h1>
      </div>
      <nav>
        <div class="items">
          <span class="item active" data-name="all">All</span>
          <span class="item" data-name="graphic">Graphic</span>
          <span class="item" data-name="3d">3D</span>
          <span class="item" data-name="ai">AI</span>
          <span class="item" data-name="ui">UI/UX</span>
        </div>
      </nav>
      <!-- /* ~~~~~~~~~~~~~~~~~~~  FILTER IMAGES  ~~~~~~~~~~~~~~~~~~~~~ */ -->
      <div class="gallery">
        <div class="image" data-name="3d">
          <span><img src="../images/exploreallImages/3d1.png" alt="" /></span>
        </div>
        <div class="image" data-name="3d">
          <span><img src="../images/exploreallImages/3d2.png" alt="" /></span>
        </div>
        <div class="image" data-name="3d">
          <span><img src="../images/exploreallImages/3d3.png" alt="" /></span>
        </div>
        <div class="image" data-name="3d">
          <span><img src="../images/exploreallImages/3d4.png" alt="" /></span>
        </div>
        <div class="image" data-name="3d">
          <span><img src="../images/exploreallImages/3d5.png" alt="" /></span>
        </div>
        <div class="image" data-name="ai">
          <span><img src="../images/exploreallImages/ai3.png" alt="" /></span>
        </div>
        <div class="image" data-name="ai">
          <span><img src="../images/exploreallImages/ai4.png" alt="" /></span>
        </div>
        <div class="image" data-name="ai">
          <span><img src="../images/exploreallImages/ai5.png" alt="" /></span>
        </div>
        <div class="image" data-name="ai">
          <span><img src="../images/exploreallImages/ai6.png" alt="" /></span>
        </div>
        <div class="image" data-name="ai">
          <span><img src="../images/exploreallImages/ai7.png" alt="" /></span>
        </div>
        <div class="image" data-name="ai">
          <span><img src="../images/exploreallImages/ai8.png" alt="" /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic1.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic2.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic3.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic4.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic5.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic6.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic7.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic8.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic9.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic10.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic11.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic12.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic13.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="ui">
          <span><img src="../images/exploreallImages/ui3.png" alt="" /></span>
        </div>
        <div class="image" data-name="ui">
          <span><img src="../images/exploreallImages/ui4.png" alt="" /></span>
        </div>
        <div class="image" data-name="ui">
          <span><img src="../images/exploreallImages/ui5.png" alt="" /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic14.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic15.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic16.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic17.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic18.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic19.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic20.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic21.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic22.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic23.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic24.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic25.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic26.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic27.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic28.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic29.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic30.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic31.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic32.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic33.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic34.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="3d">
          <span><img src="../images/exploreallImages/3d6.png" alt="" /></span>
        </div>
        <div class="image" data-name="3d">
          <span><img src="../images/exploreallImages/3d7.png" alt="" /></span>
        </div>
        <div class="image" data-name="3d">
          <span><img src="../images/exploreallImages/3d8.png" alt="" /></span>
        </div>
        <div class="image" data-name="3d">
          <span><img src="../images/exploreallImages/3d9.png" alt="" /></span>
        </div>
        <div class="image" data-name="ai">
          <span><img src="../images/exploreallImages/ai1.png" alt="" /></span>
        </div>
        <div class="image" data-name="ai">
          <span><img src="../images/exploreallImages/ai2.png" alt="" /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic35.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic36.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic37.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic38.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic39.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic40.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic41.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic42.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic43.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic44.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic45.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic46.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic47.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic48.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic49.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="graphic">
          <span
            ><img src="../images/exploreallImages/graphic50.png" alt=""
          /></span>
        </div>
        <div class="image" data-name="ui">
          <span><img src="../images/exploreallImages/ui1.png" alt="" /></span>
        </div>
        <div class="image" data-name="ui">
          <span><img src="../images/exploreallImages/ui2.png" alt="" /></span>
        </div>
        <div class="image" data-name="ui">
          <span><img src="../images/exploreallImages/ui6.png" alt="" /></span>
        </div>
        <div class="image" data-name="ui">
          <span><img src="../images/exploreallImages/ui7.png" alt="" /></span>
        </div>
        <div class="image" data-name="ui">
          <span><img src="../images/exploreallImages/ui8.png" alt="" /></span>
        </div>
        <div class="image" data-name="ui">
          <span><img src="../images/exploreallImages/ui9.png" alt="" /></span>
        </div>
      </div>
    </div>
    <!-- /* ~~~~~~~~~~~~~~~~~~~  FULLSCREEN IMAGE BOX  ~~~~~~~~~~~~~~~~~~~~~ */ -->
    <div class="preview-box">
      <div class="details">
        <span class="title uppercase"><p></p></span>
        <span class="icon fas fa-times"></span>
      </div>
      <div class="image-box"><img src="" alt="" /></div>
    </div>
    <div class="shadow"></div>

    <!-- ~~~~~~~~~~~~~~~~~~~ scripts ~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <script src="../js/galleryExplore.js"></script>
  </body>
</html>
