<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apex - Animator Professionalism Editor Xcellence</title>
    <link rel="icon" href="../images/title_Logo.png" />
    <meta
      name="description"
      content="APEX is the esteemed design society of TIPS, Dwarka, dedicated to elevating the field of design to new heights. With a large and active membership, we have conducted numerous workshops to enhance our skills. Our members utilize a variety of Adobe design software, including Photoshop, Illustrator, and InDesign, to create innovative and impactful designs."
    />
    <meta name="keywords" content="APEX, designing, designers, editing, apex" />
    <script
      src="https://kit.fontawesome.com/e64b4eb724.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/gallery.css" />
    <link rel="stylesheet" href="../css/team.css" />
    <link rel="stylesheet" href="../css/testi.css" />
    <link rel="stylesheet" href="../../components/css/loader.css" />
    <link href="../css/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body onload="loader()" style="overflow: hidden">
    <!-- /* ~~~~~~~~~~~~~~~~~~~  LOADER  ~~~~~~~~~~~~~~~~~~~~~ */ -->
    <div class="loader" id="loader">
      <div class="loaderContainer">
        <p>We are Apexians!</p>
      </div>

      <div class="loading-page">
        <div>
          <svg
            id="svg"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 384 512"
          >
            <path
              d="M221.5 51.7C216.6 39.8 204.9 32 192 32s-24.6 7.8-29.5 19.7l-120 288-40 96c-6.8 16.3 .9 35 17.2 41.8s35-.9 41.8-17.2L93.3 384l197.3 0 31.8 76.3c6.8 16.3 25.5 24 41.8 17.2s24-25.5 17.2-41.8l-40-96-120-288zM264 320l-144 0 72-172.8L264 320z"
            />
          </svg>
          <svg
            id="svg"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
          >
            <path
              d="M0 96C0 60.7 28.7 32 64 32l96 0c88.4 0 160 71.6 160 160s-71.6 160-160 160l-96 0 0 96c0 17.7-14.3 32-32 32s-32-14.3-32-32L0 320 0 96zM64 288l96 0c53 0 96-43 96-96s-43-96-96-96L64 96l0 192z"
            />
          </svg>
          <svg
            id="svg"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
          >
            <path
              d="M64 32C28.7 32 0 60.7 0 96L0 256 0 416c0 35.3 28.7 64 64 64l224 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L64 416l0-128 160 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L64 224 64 96l224 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L64 32z"
            />
          </svg>

          <svg
            id="svg"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 384 512"
          >
            <path
              d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"
            />
          </svg>
        </div>

        <div class="name-container">
          <div class="logo-name">Animator Professionalism Editor Xcellence</div>
        </div>
      </div>
    </div>

    <!-- /* ~~~~~~~~~~~~~~~~~~~ NEXT PAGE START ~~~~~~~~~~~~~~~~~~~~~ */ -->

    <div class="nextPage relative w-full h-screen overflow-x-hidden">
      <!-- /* ~~~~~~~~~~~~~~~~~~~ BACKGROUND VIDEO ~~~~~~~~~~~~~~~~~~~~~ */ -->
      <div class="bgVideo">
        <video autoplay muted loop>
          <source src="../images/bgVid.mp4" type="video/mp4" />
        </video>
      </div>

      <div class="text-white">
        <a href="../../members/index.html">Members</a>
      </div>

      <!-- /* ~~~~~~~~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~~~~~~~~~~ */ -->

      <!-- /* ~~~~~~~~~~~~~~~~~~~ SOFTWARE REVOLVING ANIMATION ~~~~~~~~~~~~~~~~~~~~~ */ -->
      <main class="relative">
        <a href="#teams"
          ><button
            class="down absolute bg-orange-500 text-3xl text-black px-10 py-3 rounded-full bottom-16 left-1/2 -translate-x-1/2 font-semibold tracking-wider"
          >
            Explore
          </button></a
        >
        <div id="solar-system-container"></div>
      </main>

      <!-- /* ~~~~~~~~~~~~~~~~~~~ DEPARTMENT TEAMS ~~~~~~~~~~~~~~~~~~~~~ */ -->
      <div class="teams" id="teams">
        <div class="slide-container swiper">
          <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
              <div class="card swiper-slide">
                <div class="image-content">
                  <span class="overlay"></span>
                  <div class="card-image">
                    <img
                      src="../images/dept/UI_Ux_.png"
                      alt=""
                      class="card-img"
                    />
                  </div>
                </div>

                <div class="card-content">
                  <h2 class="name">Graphic & AI Department</h2>
                  <p class="description">
                    Apex Designing Society's Graphic Department combines
                    creativity and cutting-edge AI technology to produce
                    innovative visual content. Leveraging Canva, Photoshop,
                    Illustrator, and AI tools, we craft logos, banners, vector
                    designs, and movie posters that capture the essence of each
                    event, enhancing impact and engagement.
                  </p>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image-content">
                  <span class="overlay"></span>

                  <div class="card-image">
                    <img
                      src="../images/dept/AI department.png"
                      alt=""
                      class="card-img"
                    />
                  </div>
                </div>

                <div class="card-content">
                  <h2 class="name">Video & Cinematography Department</h2>
                  <p class="description">
                    The Cinematography and Video Editing Department specializes
                    in creating visually stunning content, blending expert
                    camera work with seamless editing to produce compelling,
                    professional-quality films and videos.
                  </p>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image-content">
                  <span class="overlay"></span>

                  <div class="card-image">
                    <img
                      src="../images/dept/Graphic Department.png"
                      alt=""
                      class="card-img"
                    />
                  </div>
                </div>

                <div class="card-content">
                  <h2 class="name">3D & VFX Deparment</h2>
                  <p class="description">
                    Our VFX and 3D teams are the heartbeat of
                    innovation—creating explosive effects and stunning 3D worlds
                    that make your screen come alive and sizzle with excitement!
                  </p>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image-content">
                  <span class="overlay"></span>

                  <div class="card-image">
                    <img
                      src="../images/dept/Music Production department.png"
                      alt=""
                      class="card-img"
                    />
                  </div>
                </div>

                <div class="card-content">
                  <h2 class="name">Music Department</h2>
                  <p class="description">
                    We are the vibesettlers of the APEX- The Designing society
                    settling and making ourselves suitable to your headphones to
                    catch you up with your every little moments of gratitude or
                    the sprinkles of sadness.
                  </p>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image-content">
                  <span class="overlay"></span>

                  <div class="card-image">
                    <img src="images/profile5.jpg" alt="" class="card-img" />
                  </div>
                </div>

                <div class="card-content">
                  <h2 class="name">Photography Department</h2>
                  <p class="description">
                    The Mobile Photography Department excels in capturing
                    captivating images using smartphones, blending creativity
                    with convenience to produce high-quality, on-the-go photos
                    that tell compelling visual stories.
                  </p>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image-content">
                  <span class="overlay"></span>

                  <div class="card-image">
                    <img
                      src="../images/dept/UI_Ux_.png"
                      alt=""
                      class="card-img"
                    />
                  </div>
                </div>

                <div class="card-content">
                  <h2 class="name">UI/UX Department</h2>
                  <p class="description">
                    The UI/UX department of APEX society design intuitive and
                    user-friendly interfaces, ensuring seamless digital
                    experiences. Focused on aesthetics and functionality, our
                    team crafts engaging designs that enhance user interaction
                    and creative satisfaction.
                  </p>
                </div>
              </div>
              <div class="card swiper-slide">
                <div class="image-content">
                  <span class="overlay"></span>

                  <div class="card-image">
                    <img
                      src="../images/dept/VFX DEPARTMENT.png"
                      alt=""
                      class="card-img"
                    />
                  </div>
                </div>

                <div class="card-content">
                  <h2 class="name">Finearts Department</h2>
                  <p class="description">
                    The lorem text the section that contains header with having
                    open functionality. Lorem dolor sit amet consectetur
                    adipisicing elit.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-button-next swiper-navBtn"></div>
          <div class="swiper-button-prev swiper-navBtn"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <!-- /* ~~~~~~~~~~~~~~~~~~~ APEX GALLERY ~~~~~~~~~~~~~~~~~~~~~ */ -->
      <div class="gallery">
        <div id="unique-container" class="photo-display flex-wrapper">
          <div class="carousel-wrapper flex-column-layout">
            <div value="15" class="carousel-item item-one flex-wrapper">
              <div class="image-wrapper">
                <img src="../images/Assets/1.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/2.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/3.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/4.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/5.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/6.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/7.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/8.jpg" alt="" />
              </div>
            </div>
            <div value="15" class="carousel-item item-two flex-wrapper">
              <div class="image-wrapper">
                <img src="../images/Assets/9.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/10.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/11.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/12.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/13.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/14.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/15.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/16.jpg" alt="" />
              </div>
            </div>
            <div value="15" class="carousel-item item-three flex-wrapper">
              <div class="image-wrapper">
                <img src="../images/Assets/17.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/18.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/19.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/20.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/21.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/22.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/23.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/24.jpg" alt="" />
              </div>
            </div>
            <div value="15" class="carousel-item item-four flex-wrapper">
              <div class="image-wrapper">
                <img src="../images/Assets/25.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/26.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/1.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/2.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/3.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/4.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/5.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/6.jpg" alt="" />
              </div>
            </div>
            <div value="15" class="carousel-item item-five flex-wrapper">
              <div class="image-wrapper">
                <img src="../images/Assets/1.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/2.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/3.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/4.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/5.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/6.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/7.jpg" alt="" />
              </div>
              <div class="image-wrapper">
                <img src="../images/Assets/8.jpg" alt="" />
              </div>
            </div>
          </div>
          <div class="overlay-wrapper flex-wrapper">
            <button>Explore</button>
          </div>
        </div>
      </div>

      <!-- /* ~~~~~~~~~~~~~~~~~~~ TESTIMONIALS ~~~~~~~~~~~~~~~~~~~~~ */ -->
      <div class="testimonials">
        <div class="testimonial_head">
          <h1 class="text-center">Testimonials</h1>
        </div>
        <div class="teams" id="teams">
          <div class="testiSlide-container swiper">
            <div class="slide-content">
              <div class="card-wrapper swiper-wrapper">
                <div class="testiCard swiper-slide p-10">
                  <div class="flex justify-between items-center">
                    <img
                      src="https://www.jiomart.com/images/product/original/rvjj0ksuo1/tee-town-cotton-polo-neck-tshirt-for-mens-polo-1-grey-product-images-rvjj0ksuo1-0-202211011321.jpg?im=Resize=(500,630)"
                      alt=""
                      class="w-16 rounded-full"
                    />
                    <div
                      class="bg-[#2D2D2D] text-white text-xl px-10 py-2 rounded-full"
                    >
                      Professor
                    </div>
                  </div>
                  <div class="testiContent my-16">
                    <img
                      src="https://icons.veryicon.com/png/o/miscellaneous/text-editing/quote-7.png"
                      alt=""
                      class="rotate-180 w-12 mb-5"
                    />
                    <p class="text-2xl text-white">
                      Apex, the Coding Club of Trinity Institute of Professional
                      Studies is a platform for the students, by the students.
                      Since it's inception, the club has nurtured a group of
                      dedicated professionals who have mapped every event and
                      programme and has been the backbone for it's smooth
                      conduct. Having worked with them for over an year now, I
                      entrust my faith in them for any last minute changes and
                      yet get the desired result. Apex is not just a club but a
                      potential to bring a revolution.
                    </p>
                  </div>
                  <div class="text-white">
                    <h4 class="text-xl">Ms. Shruti Gaur</h4>
                    <h6 class="text-lg text-[#f96613]">Associate Professor</h6>
                  </div>
                </div>
                <div class="testiCard swiper-slide p-10">
                  <div class="flex justify-between items-center">
                    <img
                      src="https://www.jiomart.com/images/product/original/rvjj0ksuo1/tee-town-cotton-polo-neck-tshirt-for-mens-polo-1-grey-product-images-rvjj0ksuo1-0-202211011321.jpg?im=Resize=(500,630)"
                      alt=""
                      class="w-16 rounded-full"
                    />
                    <div
                      class="bg-[#2D2D2D] text-white text-xl px-10 py-2 rounded-full"
                    >
                      Professor
                    </div>
                  </div>
                  <div class="testiContent my-16">
                    <img
                      src="https://icons.veryicon.com/png/o/miscellaneous/text-editing/quote-7.png"
                      alt=""
                      class="rotate-180 w-12 mb-5"
                    />
                    <p class="text-2xl text-white">
                      Apex, the vibrant and innovative design team at Trinity
                      Institute of Professional Studies, stands out for their
                      creativity and dedication. Their young designers
                      consistently bring fresh perspectives and artistic flair
                      to every project, whether it's designing PowerPoint
                      presentations or crafting intricate prototypes. Apex's
                      work is characterized by its precision, attention to
                      detail, and a keen sense of aesthetics, making them an
                      invaluable asset to the institution. Their designs are not
                      just visually appealing but also effectively communicate
                      the intended message, showcasing their talent and
                      commitment to excellence.
                    </p>
                  </div>
                  <div class="text-white">
                    <h4 class="text-xl">Richa tyagi</h4>
                    <h6 class="text-lg text-[#f96613]">Associate Professor</h6>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>

    <script src="../js/cursor.js"></script>
    <script src="../js/navbar.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="../js/Slider.js"></script>
    <script src="../js/gallery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script type="module" src="../js/softwareRevolve.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"
      integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../../components/js/loader.js"></script>
  </body>
</html>
