.bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.bgVideo video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.resumeCardleft,
.resumeCardRight {
  background-color: rgba(255, 255, 255, 0.064);
  backdrop-filter: blur(2px);
  border-radius: 1rem;
  padding: 2rem;
}

.skillCard {
  background-color: rgba(255, 255, 255, 0.064);
  backdrop-filter: blur(2px);
}

.resumeCardName1 {
  color: #fff;
  font-weight: 500;
  background: #f97316;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
}

.resumeMail {
  margin-top: 2rem;
}

.resumeCardRight h1 {
  font-size: 3rem;
}
.resumeCardRight h3 {
  margin-top: 2rem;
  font-size: 2rem;
}
